footer { margin-top: 100px; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
body { margin: 0; }
.navbar {
    min-height: 38px;
    background-color: #1ef60a;
  }
  .navbar-brand { 
    font-size: 24px;
    color: #080357;
}
  .navbar a.brand:hover {
   color: #fff;
   background-color: transparent;
   text-decoration: none;
  }
  .container {
      margin: auto  ;
  }
